<div class="product">
    <div ng-repeat="item in products" class="item">
        <div class="left">
            <img ng-src="{{item.path}}" style="width:185px;height: 275px">
        </div>
        <div class="right">
            <div class="">
                <div class="item">
                    <div class="left">price</div><div class="right">{{item.price}}</div>
                    <div class="left">store</div><div class="right">{{item.num}}</div>
                    <div class="left">description</div><div class="right">{{item.descript}}</div>
                </div>
                <div><label class="btn btn-primary" ng-model="rodioModel">add to shopping cart</label></div>
            </div>
        </div>
    </div>
</div>