<div class="product">
    <div class="icon-right-top">
        <button type="button" class="btn btn-default btn-sm" ng-click="productCtl.back()">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </button>
    </div>

    <div class="icon-right-bottom">
        <button type="button" class="btn btn-default btn-sm"  ng-click="productCtl.next()">
            <span class="glyphicon glyphicon-chevron-down" ></span>
        </button>
    </div>

    <div ng-repeat="item in products" class="item">
        <div class="left">
            <img ng-src="{{item.path}}" style="width:185px;height: 275px" id="{{item._id}}" ng-if="!item.isLocalStorage">
            <img src="{{item.img}}" style="width:185px;height: 275px" ng-if="item.isLocalStorage">
        </div>
        <div class="right">
            <div class="">
                <div class="item">
                    <div class="left">price</div>
                    <div class="right">{{item.price}}</div>
                    <div class="left">stock</div>
                    <div class="right">{{item.num}}</div>
                    <div class="left">description</div>
                    <div class="right">{{item.descript}}</div>
                </div>
                <div><label class="btn btn-primary" ng-model="rodioModel">add to shopping cart</label></div>
            </div>
        </div>
    </div>


</div>