<div class="container-fluid">
    <div class="menu">
        <div class="btn-group" ng-init="header='product'">
            <label class="btn btn-primary" ng-model="header" btn-radio="'login'" ng-show="!isLoginIn">login</label>
            <label class="btn btn-primary" ng-model="header" btn-radio="'product'">product</label>
            <label class="btn btn-primary" ng-model="header" btn-radio="'shoppingCart'">shopping cart</label>
            <label class="btn btn-primary" ng-model="header" btn-radio="'logout'" ng-show="isLoginIn">logout</label>
        </div>
    </div>


    <div class="content">
        <product ng-if="header==='product'"></product>
        <shopping-cart ng-if="header==='shoppingCart'"></shopping-cart>
    </div>

</div>