<div>

    <form novalidate name="registerForm" >
        <div class="input-group">
            <span class="input-group-addon"><a class="glyphicon glyphicon-user"></a></span>
            <input type="text" class="form-control" placeholder="Username" ng-model="user.name" name="name" required>
        </div>

        <div class="input-group">
            <span class="input-group-addon"><a class="glyphicon glyphicon-lock"></a></span>
            <input type="text" class="form-control" placeholder="Password" ng-model="user.password" name="password" required>
        </div>

        <div class="input-group">
            <span class="input-group-addon"><a class="glyphicon glyphicon-lock"></a></span>
            <input type="text" class="form-control" placeholder="confirmed Password" ng-model="user.confirmPassword" name="confirmPassword" required>
        </div>

        <div class="input-group">
            <span class="input-group-addon"><a class="glyphicon glyphicon-envelope"></a></span>
            <input type="text" class="form-control" placeholder="email" ng-model="user.email" name="email" required>
        </div>

        <div class="button-row">
            <button class="btn btn-default" type="button" ng-click="reset()">reset</button>
            <button class="btn btn-primary"  type="submit" ng-click="submit()">submit</button>
        </div>
    </form>


</div>